.center-box {
  background-color: navy;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-item {
  background-color: navajowhite;
  width: 60px;
  height: 60px;
}

