/*CSS reset settings here*/
* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  padding: 20px;
}

#header {
  min-height: 150px;
  background-color: green;
  margin-bottom: 20px;
}

#navigation {
  min-height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

#main_content {
  min-height: 400px;
  background-color: red;
  display: inline-block;
  width: 730px;
}

.subcontents {
  min-height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
  margin: 10px;
}

#advertisement {
  min-height: 120px;
  background-color: purple;
  align-self: center;
  margin: 10px;
  width: 680px;
}
